/* CONTAINER PRINCIPAL */
.catalogo-colecoes-container {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    color: #6b6161;
    font-weight: 50;
}

/* TÍTULO COLEÇÕES */
.catalogo-colecoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.colecoes-title {
    margin-top: 37px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.colecoes-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.colecoes-title img {
    width: 90px;
}

.catalogo-colecoes-container hr {
    height: 2.5px;
    width: 100%;
    background-color: #0e2523;
    margin-bottom: 0;
}

/* DROPDOWN ANIMAÇÃO */
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    right: 0;
    background-color: white;
    z-index: 3;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 100%;
    border-top: 1px solid #0e2523;
    border-bottom: 1px solid #c5c5c5;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.dropdown-content.show {
    max-height: 800px; /* Ajuste conforme necessário */
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content h2 {
    margin-bottom: 10px;
    color: #0e2523;
    font-family: 'Poppins', sans-serif;
}

.dropdown-content p {
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.dropdown-content p:hover {
    color: #0e2523;
    font-weight: 600;
}

/* ESPAÇAMENTO DOS FILTROS */
.dropdown-espacamento {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    gap: 50px;
}

/* LINHA DE SEPARAÇÃO */
.filter {
    border-bottom: 1.5px solid #6b6161;
}

/* FILTRO - ITENS */
.filtro h2 {
    margin-left: 30px;
}

.filtro li,
.filtro li a {
    list-style: none;
    text-decoration: none;
    color: #828181;
}

.filtro li a:hover {
    color: #153e3b;
}

/* BOTÃO FILTRAR */
.filtrar {
    background-color: #fff;
    margin-right: 20px;
    border: 1px solid #b3b3b3;
    color: #6b6161;
    width: 80px;
    height: 40px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.filtrar:hover {
    background-color: #00000028;
}

.filtrar img {
    width: 10px;
    height: 10px;
    transition: transform 0.3s ease;
}

.filtrar.ativo img {
    transform: rotate(180deg);
}

/* TÍTULO PRODUTOS */
.produtos-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.produtos-title h2 {
    margin-left: 20px;
    color: #6b6161;
    font-size: 15px;
}

/* MEDIDAS */
.medidas {
    display: flex;
}

.medida-btn {
    background-color: #f3f3f3;
    border: 1px solid #6b6161;
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    width: 40px;
    height: 40px;
    font-size: 17px;
}

.medida-btn:hover {
    background-color: black;
    color: #fff;
}

/* FILTRO DE CORES */
.dropdown-content-color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin-right: 10px;
    margin-left: 30px;
    max-width: 450px;
}

.dropdown-content-color li {
    list-style: none;
}

.cor-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.cor-item:hover {
    transform: scale(1.1);
}

/* IMAGEM NOVIDADE */
.img-container {
    position: relative;
}

.colecao-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: auto;
    z-index: 2;
}

.novidade-badge {
    position: absolute;
    top: 8px !important;
    left: 8px;
    width: 75px !important;
    box-shadow: none !important;
    height: auto;
    z-index: 2;
}

/* SOBRE A COLEÇÃO */
.sobre-container {
    margin-top: 10px;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px; /* Reduzido para aproximar as seções */
    gap: 50px;
    align-items: center;
}

.sobre-text {
    width: 50%;
}

.sobre-text h1 {
    font-size: 25px;
    font-weight: 100;
}

.sobre-img {
    margin-top: 50px;
    width: 40%;
    position: relative;
    height: 400px;
}

.sobre-img img {
    width: 100%;
    height: auto;
    display: block;
}

.text-img {
    font-size: 15px;
    color: #0e2523;
}

/*LIMPAR FILTROS*/
.btn-limpar {
    background-color: #f5f5f5;
    border: 1px solid #999;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
}

.btn-limpar:hover {
    background-color: #ddd;
}





/* Estilos para filtros ativos */
.filtro a.ativo {
    color: #153e3b;
    font-weight: bold;
}

.medida-btn.ativo {
    background-color: black !important;
    color: #fff !important;
}

.cor-item.selecionado {
    transform: scale(1.2);
}